/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/   Modificadores  /\/\/\/\/\/\/\/\/\/\/\/\/ */

/* Bloquear Seleção */

.no-select {
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

/* Valor invalido (Faz com que a borda inferior fique vermelha) */

.invalid--value {
    border-color: rgb(204, 46, 46) !important;
}

/* Input desabilitado */

.input--disabled {
    border-color: grey !important;
}

/* ##### Conteúdo de Popup ##### */

/* Titulo */

.popup--title {
    color: #3498DB;
    text-align: center;
    font-weight: bold;
    font-size: 26pt;
    margin: 15px 0px -5px 0px;
}

/* Sub-titulo */

.popup--sub--title {
    color: #3498DB;
    font-weight: bold;
    font-size: 18pt;
    margin: 30px 0px -5px 0px;
}

/* Separador de linha (Tag "<hr>")*/

.popup--hr {
    border: solid 0.5px #3498DB;
    width: calc(80vw - 243px);
    margin: 5px 0px 20px 0px;
}

/* Textos de Obserações */

.popup--obs {
    font-style: italic;
    color: #95A5A6;
}