<!-- Menu da Direita [Propriedade "color"] -->
<div class="prop__container__color">

    <!-- Menu da Direita [Titulo] de "color"-->
    <div class="prop__title title__color no-select">
        <p>Cor</p>
        <hr>
        <div>
            <p data-toggle="tooltip" data-html="true" data-placement="left" title="<strong>Suporte Web:</strong><br>Chrome 1<br>Edge 12<br>Firefox 1<br>IE 3<br>Opera 3.5<br>Safari 1">color</p>
        </div>
    </div>
    <div class="content__color">

        <!-- [Tipo de valor de "color"] -->
        <div class="input__type__select">
            <input type="button" id="button-free-value-color"
                class="prop__input__type__button input--type--button--active" value="Livre"></input>
            <input type="button" id="button-predefined-value-color" class="prop__input__type__button"
                value="Pré-definido"></input>
        </div>

        <!-- [Input de Valor "Livre" de "color"] -->
        <div class="free__value__container__color">
            <input id="property-color-value"
                class="jscolor {onFineChange:'textAppTextColor(this)', hash:true, position:'left'} input-color-style"
                value="000000">
            <label class="mini__arrow" for="valueTypeFontSize"></label>
            <select id="property-color-value-type" class="prop__select__color" id="valueTypeFontSize">
                <option value="colorTypeHex">Hexadecimal</option>
                <option value="colorTypeRGB">RGB</option>
            </select>
        </div>

        <!-- [Input de Valor "Pré-Definido" de "color"] -->
        <div class="predefined__value__container__color">
            <div id="predefined-example-color" class="color__demonstration no-select">Exemplo</div></br>
            <label class="mini__arrow"></label>
            <select id="property-color-value-predefined" class="prop__select__color">
                <option value="nenhum">Nenhum</option>
                <optgroup label="Cores Básicas">
                    <option value="yellow">Amarelo</option>
                    <option value="blue">Azul</option>
                    <option value="white">Branco</option>
                    <option value="grey">Cinza</option>
                    <option value="orange">Laranja</option>
                    <option value="brown">Marrom</option>
                    <option value="black">Preto</option>
                    <option value="pink">Rosa</option>
                    <option value="green">Verde</option>
                    <option value="red">Vermelho</option>
                </optgroup>
                <optgroup label="Cores claras">
                    <option value="lightyellow">Amarelo claro</option>
                    <option value="lightblue">Azul claro</option>
                    <option value="lightskyblue">Azul Céu claro</option>
                    <option value="lightcyan">Ciano claro</option>
                    <option value="lightslategrey">Cinza ardósia claro</option>
                    <option value="lightgrey">Cinza claro</option>
                    <option value="lightcoral">Coral claro</option>
                    <option value="lightgoldenrodyellow">Dourado claro</option>
                    <option value="lightpink">Rosa claro</option>
                    <option value="lightsalmon">Salmão claro</option>
                    <option value="lightgreen">Verde claro</option>
                    <option value="lightseagreen">Verde mar claro</option>
                </optgroup>
                <optgroup label="Cores médias">
                    <option value="mediumaquamarine">Água-marinha média</option>
                    <option value="mediumblue">Azul médio</option>
                    <option value="mediumspringgreen">Verde primavera médio</option>
                    <option value="mediumslateblue">Azul ardósia médio</option>
                    <option value="mediumorchid">Orquídea media</option>
                    <option value="mediumturquoise">Turquesa médio</option>
                    <option value="mediumpurple">Roxo médio</option>
                    <option value="mediumvioletred">Vermelho violeta médio</option>
                    <option value="mediumseagreen">Verde mar médio</option>
                </optgroup>
                <optgroup label="Cores Escuras">
                    <option value="darkturquoise">Turquesa escuro</option>
                    <option value="darkslateblue">Azul ardósia escuro</option>
                    <option value="darkblue">Azul escuro</option>
                    <option value="darkkhaki">Caqui escuro</option>
                    <option value="darkslategrey">Cinza ardósia escuro</option>
                    <option value="darkgrey">Cinza escuro</option>
                    <option value="darkgoldenrod">Dourado escuro</option>
                    <option value="darkorange">Laranja escuro</option>
                    <option value="darkorchid">Orquídea escura</option>
                    <option value="darksalmon">Salmão escuro</option>
                    <option value="darkgreen">Verde escuro</option>
                    <option value="darkseagreen">Verde mar escuro</option>
                    <option value="darkolivegreen">Verde-Oliva escuro</option>
                    <option value="darkviolet">Violeta escura</option>
                </optgroup>
            </select>
        </div>
    </div>
</div>