<!-- Menu da Direita [Propriedade "text-shadow"] -->
<div class="prop__container__text-shadow">

    <!-- Menu da Direita [Titulo] de "text-shadow"-->
    <div class="prop__title title__text-shadow no-select">
        <p>Sombra</p>
        <hr>
        <div>
            <p data-toggle="tooltip" data-html="true" data-placement="left"
                title="<strong>Suporte Web:</strong><br>Chrome 1<br>Edge 12<br>Firefox 1<br>IE 3<br>Opera 3.5<br>Safari 1">
                text-shadow</p>
        </div>
    </div>
    <div class="content__text-shadow">

        <!-- [Tipo de valor de "text-shadow"] -->
        <div class="input__type__select">
            <input type="button" id="button-free-value-text-shadow"
                class="prop__input__type__button input--type--button--active" value="Livre"></input>
            <input type="button" id="button-predefined-value-text-shadow" class="prop__input__type__button"
                value="Pré-definido"></input>
        </div>

        <!-- [Input de Valor "Livre" de "text-shadow"] -->
        <div class="free__value__container__text-shadow">
            <!-- Cor da sombra -->
            <p class="input__title no-select">Cor da sombra</p>
            <input id="property-text-shadow-color-value"
                class="jscolor {onFineChange:'textAppTextShadow(this)', hash:true, position:'left'} input-color-style"
                value="000000">
            <!-- Tipo de cor da sombra -->
            <label class="mini__arrow no-select" for="valueTypeTextShadowColor"></label>
            <select id="property-text-shadow-color-value-type" class="prop__select__color"
                id="valueTypeTextShadowColor">
                <option value="colorTypeHex">Hexadecimal</option>
                <option value="colorTypeRGB">RGB</option>
            </select>
            <!-- Movimento horizontal -->
            <p class="input__title no-select">Mover na horizontal</p>
            <input id="property-text-shadow-horizontal-value" class="prop__input__text" type="text" value="0">
            <label class="mini__arrow" for="valueTypeTextShadowHorizontal"></label>
            <select id="property-text-shadow-horizontal-value-type" class="prop__select__color"
                id="valueTypeTextShadowHorizontal">
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="cm">cm</option>
                <option value="mm">mm</option>
                <option value="em">em</option>
                <option value="rem">rem</option>
            </select>
            <!-- Movimento Vertical -->
            <p class="input__title no-select">Mover na vertical</p>
            <input id="property-text-shadow-vertical-value" class="prop__input__text" type="text" value="0">
            <label class="mini__arrow" for="valueTypeTextShadowVertical"></label>
            <select id="property-text-shadow-vertical-value-type" class="prop__select__color"
                id="valueTypeTextShadowVertical">
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="cm">cm</option>
                <option value="mm">mm</option>
                <option value="em">em</option>
                <option value="rem">rem</option>
            </select>
            <!-- Nível de Desfoque -->
            <p class="input__title no-select">Nível de desfoque</p>
            <input id="property-text-shadow-blur-value" class="prop__input__text" type="text" value="0">
            <label class="mini__arrow" for="valueTypeTextShadowBlur"></label>
            <select id="property-text-shadow-blur-value-type" class="prop__select__color" id="valueTypeTextShadowBlur">
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="cm">cm</option>
                <option value="mm">mm</option>
                <option value="em">em</option>
                <option value="rem">rem</option>
            </select>
        </div>

        <!-- [Input de Valor "Pré-Definido" de "text-shadow"] -->
        <div class="predefined__value__container__text-shadow">
            <p class="input__title no-select">Cor da sombra</p>
            <div id="predefined-example-text-shadow" class="color__demonstration no-select">Exemplo</div></br>
            <label class="mini__arrow no-select"></label>
            <select id="property-text-shadow-color-value-predefined" class="prop__select__color">
                <option value="nenhum">Nenhum</option>
                <optgroup label="Cores Básicas">
                    <option value="yellow">Amarelo</option>
                    <option value="blue">Azul</option>
                    <option value="white">Branco</option>
                    <option value="grey">Cinza</option>
                    <option value="orange">Laranja</option>
                    <option value="brown">Marrom</option>
                    <option value="black">Preto</option>
                    <option value="pink">Rosa</option>
                    <option value="green">Verde</option>
                    <option value="red">Vermelho</option>
                </optgroup>
                <optgroup label="Cores claras">
                    <option value="lightyellow">Amarelo claro</option>
                    <option value="lightblue">Azul claro</option>
                    <option value="lightskyblue">Azul Céu claro</option>
                    <option value="lightcyan">Ciano claro</option>
                    <option value="lightslategrey">Cinza ardósia claro</option>
                    <option value="lightgrey">Cinza claro</option>
                    <option value="lightcoral">Coral claro</option>
                    <option value="lightgoldenrodyellow">Dourado claro</option>
                    <option value="lightpink">Rosa claro</option>
                    <option value="lightsalmon">Salmão claro</option>
                    <option value="lightgreen">Verde claro</option>
                    <option value="lightseagreen">Verde mar claro</option>
                </optgroup>
                <optgroup label="Cores médias">
                    <option value="mediumaquamarine">Água-marinha média</option>
                    <option value="mediumblue">Azul médio</option>
                    <option value="mediumspringgreen">Verde primavera médio</option>
                    <option value="mediumslateblue">Azul ardósia médio</option>
                    <option value="mediumorchid">Orquídea media</option>
                    <option value="mediumturquoise">Turquesa médio</option>
                    <option value="mediumpurple">Roxo médio</option>
                    <option value="mediumvioletred">Vermelho violeta médio</option>
                    <option value="mediumseagreen">Verde mar médio</option>
                </optgroup>
                <optgroup label="Cores Escuras">
                    <option value="darkturquoise">Turquesa escuro</option>
                    <option value="darkslateblue">Azul ardósia escuro</option>
                    <option value="darkblue">Azul escuro</option>
                    <option value="darkkhaki">Caqui escuro</option>
                    <option value="darkslategrey">Cinza ardósia escuro</option>
                    <option value="darkgrey">Cinza escuro</option>
                    <option value="darkgoldenrod">Dourado escuro</option>
                    <option value="darkorange">Laranja escuro</option>
                    <option value="darkorchid">Orquídea escura</option>
                    <option value="darksalmon">Salmão escuro</option>
                    <option value="darkgreen">Verde escuro</option>
                    <option value="darkseagreen">Verde mar escuro</option>
                    <option value="darkolivegreen">Verde-Oliva escuro</option>
                    <option value="darkviolet">Violeta escura</option>
                </optgroup>
            </select>
        </div>
    </div>
</div>