<!-- [Propriedade "font-size"] -->
<div class="prop__container__font-size">

    <!-- [Titulo] de "font-size"-->
    <div class="prop__title title__font-size no-select">
        <p>Tamanho</p>
        <hr>
        <div>
            <p>font-size</p>
        </div>
    </div>
    <div class="content__font-size">

        <!-- [Tipo de valor de "font-size"] -->
        <div class="input__type__select">
            <input type="button" id="button-free-value-font-size"
                class="prop__input__type__button input--type--button--active" value="Livre"></input>
            <input type="button" id="button-predefined-value-font-size" class="prop__input__type__button"
                value="Pré-definido"></input>
        </div>

        <!-- [Input de Valor "Live" de "font-size"] -->
        <div class="free__value__container__font-size">
            <input id="property-font-size-value" class="prop__input__text" type="text" value="12">
            <label class="mini__arrow" for="valueTypeFontSize"></label>
            <select id="property-font-size-value-type" class="prop__select__color" id="valueTypeFontSize">
                <option value="pt">pt</option>
                <option value="px">px</option>
                <option value="cm">cm</option>
                <option value="mm">mm</option>
                <option value="em">em</option>
                <option value="rem">rem</option>
                <option value="%">%</option>
            </select>
        </div>

        <!-- [Input de Valor "Pré-Definido" de "font-size"] -->
        <div class="predefined__value__container__font-size">
            <label class="mini__arrow"></label>
            <select id="property-font-size-value-predefined" class="prop__select__color">
                <option value="nenhum">Nenhum</option>
                <option value="xx-small">xx-small</option>
                <option value="x-small">x-small</option>
                <option value="small">small</option>
                <option value="medium">medium</option>
                <option value="large">large</option>
                <option value="x-large">x-large</option>
                <option value="xx-large">xx-large</option>
                <option value="smaller">smaller</option>
                <option value="larger">larger</option>
            </select>
        </div>
    </div>
</div>