<!-- [Propriedade "font-weight"] -->
<div class="prop__container__font-weight">

    <!-- [Titulo] de "font-weight"-->
    <div class="prop__title title__font-weight no-select">
        <p>Espessura</p>
        <hr>
        <div>
            <p>font-weight</p>
        </div>
    </div>
    <div class="content__font-weight">

        <!-- [Tipo de valor de "font-weight"] -->
        <div class="input__type__select">
            <input type="button" id="button-predefined-value-font-weight"
                class="prop__input__type__button input--type--button--active" value="Pré-definido">
        </div>

        <!-- [Input de Valor "Pré-Definido" de "font-weight"] -->
        <div class="predefined__value__container__font-weight">
            <label class="mini__arrow"></label>
            <select id="property-font-weight-value-predefined" class="prop__select__color">
                <option value="normal">normal</option>
                <option value="bold">bold</option>
                <option value="lighter">lighter</option>
                <option value="bolder">bolder</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
                <option value="900">900</option>
            </select>
        </div>
    </div>
</div>