<!-- [Propriedade "letter-spacing"] -->
<div class="prop__container__letter-spacing">

    <!-- [Titulo] de "letter-spacing"-->
    <div class="prop__title title__letter-spacing no-select">
        <p>Espaço entre Letras</p>
        <hr>
        <div>
            <p>letter-spacing</p>
        </div>
    </div>
    <div class="content__letter-spacing">

        <!-- [Tipo de valor de "letter-spacing"] -->
        <div class="input__type__select">
            <input type="button" id="button-free-value-letter-spacing"
                class="prop__input__type__button input--type--button--active" value="Livre"></input>
            <input type="button" id="button-predefined-value-letter-spacing" class="prop__input__type__button"
                value="Pré-definido"></input>
        </div>

        <!-- [Input de Valor "Live" de "letter-spacing"] -->
        <div class="free__value__container__letter-spacing">
            <input id="property-letter-spacing-value" class="prop__input__text" type="text" value="12">
            <label class="mini__arrow" for="valueTypeLetterSpacing"></label>
            <select id="property-letter-spacing-value-type" class="prop__select__color" id="valueTypeLetterSpacing">
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="cm">cm</option>
                <option value="mm">mm</option>
                <option value="em">em</option>
                <option value="rem">rem</option>
                <option value="%">%</option>
            </select>
        </div>

        <!-- [Input de Valor "Pré-Definido" de "letter-spacing"] -->
        <div class="predefined__value__container__letter-spacing">
            <label class="mini__arrow"></label>
            <select id="property-letter-spacing-value-predefined" class="prop__select__color">
                <option value="nenhum">Nenhum</option>
                <option value="normal">normal</option>
            </select>
        </div>
    </div>
</div>