/* ================= Menu da Direita Container ================= */

.aside__prop__container {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #2C3E50;
    color: white;
    height: 70vh;
    width: 300px;
    display: flex;
    flex-direction: column;
}

/* Desativando o Display das propriedades */

[class^="prop__container__"] {
    display: none;
}

/*/\/\/\/\ Menu da Direita [Titulo] /\/\/\/\*/

.prop__title {
    background-color: #34495e;
    color: #95A5A6;
}

.prop__title:hover {
    background-color: #374f66;
}

.prop__title:active {
    background-color: #34495e;
}

.prop__title hr {
    margin: -10px 0px 0px 0px;
}

.prop__title>p:nth-child(1) {
    color: #BDC3C7;
    font-size: 18pt;
    letter-spacing: 3px;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.prop__title>div {
    font-family: 'ComingoCode';
    padding: 0px 7px;
    display: flex;
    justify-content: center;
}

.prop__title>div p {
    margin-bottom: 0px;
}

/* ###################  P R O P R I E D A D E S  ################### */

/*/\/\/\/\ Menu da Direita [Propriedade "font-size"] /\/\/\/\*/

/* Tipo de valor "Livre" */

.free__value__container__font-size {
    display: flex;
}

/* Tipo de valor "Pré-Definido" */

.predefined__value__container__font-size {
    display: none;
}

/*/\/\/\/\/\/\/\/\  "font-size" /\/\/\/\/\/\/\/\*/

/* Tipo de valor "Livre" */

.free__value__container__font-size {
    display: flex;
}

/* Tipo de valor "Pré-Definido" */

.predefined__value__container__font-size {
    display: none;
}

/*/\/\/\/\/\/\/\/\  "color" /\/\/\/\/\/\/\/\*/

/* Tipo de valor "Livre" */

.free__value__container__color {
    display: flex;
}

/* Tipo de valor "Pré-Definido" */

.predefined__value__container__colorr {
    display: none;
}

/* ================= Estabilizando Menu lateral ================= */

/* /\/\/\/\ Largura <=  1023 /\/\/\/\ */

@media (max-width: 1023px) {
    .aside__prop__container {
        float: right;
    }
}

/* /\/\/\/\ Largura <=  699 /\/\/\/\ */

@media (max-width: 699px) {
    .aside__prop__container {
        height: 200px;
        width: 100%;
        display: block;
    }
}

/* ================================================== */