/* ================= Menu da Direita Container ================= */

.aside__prop__container {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #2C3E50;
    color: white;
    height: 70vh;
    width: 300px;
    display: flex;
    flex-direction: column;
}

/* Desativando o Display das propriedades */

[class^="prop__container__"] {
    display: none;
}

/*/\/\/\/\ Menu da Direita [Titulo] /\/\/\/\*/

.prop__title {
    background-color: #34495e;
    color: #95A5A6;
    margin-top: 3px;
}

.prop__title:hover {
    background-color: #374f66;
}

.prop__title:active {
    background-color: #34495e;
}

.prop__title hr {
    margin: -10px 0px 0px 0px;
}

.prop__title>p:nth-child(1) {
    color: #BDC3C7;
    font-size: 16pt;
    letter-spacing: 1px;
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.prop__title>div {
    font-family: 'ComingoCode';
    padding: 0px 7px;
    display: flex;
    justify-content: center;
}

.prop__title>div p {
    margin-bottom: 0px;
}

/* ###################  P R O P R I E D A D E S  ################### */

/*/\/\/\/\ Menu da Direita [Propriedade "font-size"] /\/\/\/\*/

/* Tipo de valor "Livre" */

.input__title {
    color: #95A5A6;
    text-align: center;
    font-size: 9pt;
    margin: 5px 0px -5px 0px;
}


/* ================= Estabilizando Menu lateral ================= */

/* /\/\/\/\ Largura <=  1023 /\/\/\/\ */

@media (max-width: 1023px) {
    .aside__prop__container {
        float: right;
    }
}

/* /\/\/\/\ Largura <=  699 /\/\/\/\ */

@media (max-width: 699px) {
    .aside__prop__container {
        overflow-x: auto;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

/* ================================================== */