.textApp-aside-menu-right {
    background-color: #2C3E50;
    color: white;
    height: 70vh;
    width: 300px;
}

/* ================= Estabilizando Menu lateral ================= */

/* /\/\/\/\ Largura <=  1023 /\/\/\/\ */

@media (max-width: 1023px) {
    .textApp-aside-menu-right {
        float: right;
    }
}

/* /\/\/\/\ Largura <=  699 /\/\/\/\ */

@media (max-width: 699px) {
    .textApp-aside-menu-right {
        height: 200px;
        width: 100%;
        display: block;
    }
}

/* ================================================== */