.textApp-footer-menu {
    background-color: #95A5A6;
    color: red;
    width: 100%;
    min-height: 100px;
}

/* ================= Estabilizando Menu lateral ================= */
/* /\/\/\/\ Largura <=  767 /\/\/\/\ */
@media (max-width: 767px) {
}

/* /\/\/\/\ Altura <=  767 /\/\/\/\ */
@media (max-height: 767px) {
}

/* ================================================== */