/* ================= Footer Container ================= */

.footer__container {
    background-color: #2C3E50;
    color: red;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

/*/\/\/\/\ Rodapé [Editor de Texto] /\/\/\/\*/

.footer__text__edit__container {
    background-color: #3498DB;
    height: 30px;
    padding: 5px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    border-top: solid 1px rgb(36, 51, 66);
    border-bottom: solid 1px rgb(36, 51, 66);
}

.footer__text__edit {
    outline: none;
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 10pt;
    width: 50vw;
    height: 20px;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

/*/\/\/\/\ Rodapé [Resultado do CSS] /\/\/\/\*/

.css__result__container {
    background-color: #2C3E50;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.allApp__css__result {
    outline: none;
    resize: none;
    border: none;
    background-color: #ECF0F1;
    font-family: 'ComingoCode';
    font-size: 11pt;
    width: 400px;
    height: 250px;
    padding: 5px;
    border-radius: 5px;
}

/* Alterar Scrollbar dentro do textarea */

.allApp__css__result::-webkit-scrollbar {
    background-color: #ECF0F1;
    border-radius: 40px;
}

/* ================= Estabilizando Menu lateral ================= */

/* /\/\/\/\ Largura <=  767 /\/\/\/\ */

@media (max-width: 767px) {}

/* /\/\/\/\ Altura <=  767 /\/\/\/\ */

@media (max-height: 767px) {}

/* ================================================== */