<div id="popupSettingsBackground" class="settings__background">
    <div id="popupSettingsContainer" class="settings__container">
        <header class="settings__header no-select">
            <div class="settings__title"><img src="/images/allApp/settings-icon.png"> Configurações</div>
            <button id="popupSettingsCloseButton" class="settings__close"></button>
        </header>
        <div class="settings__sub-container">
            <div class="row">
                <!-- Botões do menu -->
                <nav class="settings__menu no-select">
                    <p>Menu</p>
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <hr>
                            <a class="nav-link active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about"
                                role="tab" aria-controls="v-pills-about" aria-selected="true">Sobre</a>
                            <hr>
                            <a class="nav-link" id="v-pills-background-color-tab" data-toggle="pill"
                                href="#v-pills-background-color" role="tab" aria-controls="v-pills-background-color"
                                aria-selected="false">Cor de Fundo</a>
                            <hr>
                            <a class="nav-link" id="v-pills-background-image-tab" data-toggle="pill"
                                href="#v-pills-background-image" role="tab" aria-controls="v-pills-background-image"
                                aria-selected="false">Imagem de Fundo</a>
                            <hr>
                            <a class="nav-link" id="v-pills-font-tab" data-toggle="pill" href="#v-pills-font" role="tab"
                                aria-controls="v-pills-font" aria-selected="false">Tamanho da Fonte</a>
                            <hr>
                            <a class="nav-link" id="v-pills-wrap-tab" data-toggle="pill" href="#v-pills-wrap" role="tab"
                                aria-controls="v-pills-wrap" aria-selected="false">Quebra de Linha</a>
                        </div>
                    </div>
                </nav>
                <!-- Conteúdo -->
                <div class="settings__content">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel"
                            aria-labelledby="v-pills-about-tab">
                            <h2 class="popup--title">Sobre</h2>
                            <hr class="popup--hr">
                            <p>
                                Defina configurações para a "Caixa de Visualização" com propriedades independentes,
                                como por exemplo a cor do fundo, a imagem de fundo, a quebra de linha do texto e
                                o tamanho da fonte de texto da página.
                            </p>
                            <p>
                                Desta forma será possível ter uma noção melhor do impacto visual que a escolha das cores
                                trará e também ajudará a obter um resultado real quando for utilizado as unidades
                                de medidas que se baseiam no tamanho da fonte de texto da página (“em”, “rem”, "ex"
                                e "ch").
                            </p>
                            <p class="popup--obs">
                                Lembre-se de que estas alterações feitas aqui no “Menu de Configurações” não terão
                                o seu código CSS incluso na "Caixa de Resultado".
                            </p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-background-color" role="tabpanel"
                            aria-labelledby="v-pills-background-color-tab">
                            <p class="popup--title">Cor de Fundo</p>
                            <hr class="popup--hr">
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Exercitationem doloremque neque atque nisi earum labore, dolorum dicta necessitatibus
                            perspiciatis, soluta aliquid unde saepe rerum omnis praesentium quos, dolorem consequatur
                            optio?
                        </div>
                        <div class="tab-pane fade" id="v-pills-background-image" role="tabpanel"
                            aria-labelledby="v-pills-background-image-tab">
                            <p class="popup--title">Imagem de Fundo</p>
                            <hr class="popup--hr">
                            Lorem ipsum dolor sit amet consectetur,
                            adipisicing
                            elit. Autem assumenda asperiores ullam ratione, magnam quam quisquam ipsam tenetur itaque a!
                            Officia inventore expedita itaque numquam placeat iste, ut culpa autem.
                        </div>
                        <div class="tab-pane fade" id="v-pills-font" role="tabpanel" aria-labelledby="v-pills-font-tab">
                            <p class="popup--title">Tamanho da Fonte</p>
                            <hr class="popup--hr">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Assumenda soluta quam voluptas aperiam, eveniet, aliquam omnis fugit rerum voluptate,
                            consequuntur doloremque impedit cupiditate debitis veniam. Architecto odio eaque qui labore.
                        </div>
                        <div class="tab-pane fade" id="v-pills-wrap" role="tabpanel" aria-labelledby="v-pills-wrap-tab">
                            <p class="popup--title">Quebra de Linha</p>
                            <hr class="popup--hr">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Assumenda soluta quam voluptas aperiam, eveniet, aliquam omnis fugit rerum voluptate,
                            consequuntur doloremque impedit cupiditate debitis veniam. Architecto odio eaque qui labore.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>