<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/index/index-container.css">
<link rel="stylesheet" href="/stylesheets/index/index-aside-menu-left.css">
<link rel="stylesheet" href="/stylesheets/index/index-container-center.css">
<link rel="stylesheet" href="/stylesheets/index/index-aside-menu-right.css">
<link rel="stylesheet" href="/stylesheets/index/index-footer-menu.css">

<div class="index-container-large">
    <!-- Menu da Esquerda -->
    <aside class="index-aside-menu-left">
        <div class="index-aside-menu-left-container-primary">

        </div>
        <div class="index-aside-menu-left-container-secundary">
            <div class="index-aside-menu-left-top-button">
                <button class="index-aside-menu-left-top-button-info"></button>
                <button class="index-aside-menu-left-top-button-reset"></button>
                <button class="index-aside-menu-left-top-button-example"></button>
            </div>
        </div>
    </aside>

    <!-- Container Central -->
    <div class="index-container-center">
        Olá, eu sou o Index! :)
    </div>

    <!-- Menu da Direita -->
    <aside class="index-aside-menu-right">
        Eu sou o Menu da DIREITA!
    </aside>
</div>

<!-- Menu do Rodapé -->
<footer class="index-footer-menu">
    Eu sou o menu do RODAPÉ!!.
</footer>

<!-- Meu Script -->
<script src="/scripts/index/indexContainerMiddleAlign.js"></script>