<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/textApp/textApp-container.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-aside-menu-left.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-container-center.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-aside-menu-right.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-footer-container.css">
<link rel="stylesheet" href="/stylesheets/allApp/allApp-properties-chackbox.css">
<link rel="stylesheet" href="/stylesheets/allApp/allApp-properties-input.css">

<div class="textApp-container-large">
    <!-- Menu da Esquerda [Container]-->
    <aside class="textApp-aside-menu-left">

        <!-- Menu da Esquerda [Primario] -->
        <div class="textApp-aside-menu-left-container-primary">
            <!-- Menu da Esquerda [Botões da esquerda] -->
            <button class="textApp-aside-menu-left-aside-button-text">
                <div class="textApp-aside-menu-left-aside-popup-button-text">Texto</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-gradient">
                <div class="textApp-aside-menu-left-aside-popup-button-gradient">Gradiente</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-border">
                <div class="textApp-aside-menu-left-aside-popup-button-border">Borda</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-shadow">
                <div class="textApp-aside-menu-left-aside-popup-button-shadow">Sombra</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-transform">
                <div class="textApp-aside-menu-left-aside-popup-button-transform">Transformação</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-column">
                <div class="textApp-aside-menu-left-aside-popup-button-column">Coluna</div>
            </button>
        </div>

        <!-- Menu da Esquerda [Secundario] -->
        <div class="textApp-aside-menu-left-container-secundary">

            <!-- Menu da Esquerda [Botões de cima] -->
            <div class="textApp-aside-menu-left-top-button">
                <button class="textApp-aside-menu-left-top-button-info"></button>
                <button class="textApp-aside-menu-left-top-button-reset"></button>
                <button class="textApp-aside-menu-left-top-button-settings"></button>
                <button class="textApp-aside-menu-left-top-button-example"></button>
            </div>

            <!-- Menu da Esquerda [Seleção de Propriedades] -->
            <div class="textApp-aside-menu-left-properties-container">
                <div class="textApp-aside-menu-left-properties-title">
                    <p>Escolha as propriedades</p>
                </div>
                <label for="properties-change-color"><input type="checkbox" id="properties-change-color">Cor
                    <p class="properties-change-syntax">color</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-font-size"><input type="checkbox" id="properties-change-font-size">Tamanho
                    <p class="properties-change-syntax">font-size</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-font-style"><input type="checkbox"
                        id="properties-change-font-style">Estilo
                    <p class="properties-change-syntax">font-style</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-text-shadow"><input type="checkbox"
                        id="properties-change-text-shadow">Sombra
                    <p class="properties-change-syntax">text-shadow</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-font-family"><input type="checkbox"
                        id="properties-change-font-family">Tipo de Fonte
                    <p class="properties-change-syntax">font-family</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-font-variant"><input type="checkbox"
                        id="properties-change-font-variant">Variação da Fonte
                    <p class="properties-change-syntax">font-variant</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-font-weight"><input type="checkbox"
                        id="properties-change-font-weight">Espessura
                    <p class="properties-change-syntax">font-weight</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-font-stretch"><input type="checkbox"
                        id="properties-change-font-stretch">Expanção e Retração
                    <p class="properties-change-syntax">font-stretch</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-letter-spacing"><input type="checkbox"
                        id="properties-change-letter-spacing">Espaço entre Letras
                    <p class="properties-change-syntax">letter-spacing</p>
                    <div class="properties-change-indicator"></div>
                </label>
                <label for="properties-change-word-spacing"><input type="checkbox"
                        id="properties-change-word-spacing">Espaço entre Palavras
                    <p class="properties-change-syntax">word-spacing</p>
                    <div class="properties-change-indicator"></div>
                </label>
            </div>
        </div>
    </aside>

    <!-- Container Central -->
    <div class="textApp-container-background-center">
        <div class="textApp-container-center">
            <p id="textAppView" class="textApp-view">Lorem Ipsum</p>
        </div>
    </div>

    <!-- Menu da Direita -->
    <aside class="textApp-aside-menu-right-container" spellcheck="false">

        <!-- Menu da Direita [Propriedade "font-size"] -->
        <div class="textApp-aside-menu-right-properties-font-size">

            <!-- Menu da Direita [Titulo] de "font-size"-->
            <div class="textApp-properties-title">
                <p>Tamanho</p>
                <hr>
                <div>
                    <p>font-size</p>
                </div>
            </div>
            <div class="textApp-properties-content">

                <!-- Menu da Direita [Tipo de valor de "font-size"] -->
                <div class="properties-input-type-font-size">
                    <input type="button" id="button-free-value-font-size"
                        class="properties-input-type-free-value-font-size properties-input-button-type-active"
                        value="Livre"></input>
                    <input type="button" id="button-predefined-value-font-size"
                        class="properties-input-type-predefined-value-font-size" value="Pré-definido"></input>
                </div>

                <!-- Menu da Direita [Input de Valor "Live" de "font-size"] -->
                <div class="properties-input-free-value-font-size">
                    <input id="property-font-size-value" class="properties-input-text-font-size" type="text" value="12">
                    <label class="properties-label-select" for="valueTypeFontSize"></label>
                    <select id="property-font-size-value-type" class="properties-input-select-font-size"
                        id="valueTypeFontSize">
                        <option value="pt">pt</option>
                        <option value="px">px</option>
                        <option value="cm">cm</option>
                        <option value="mm">mm</option>
                        <option value="em">em</option>
                        <option value="rem">rem</option>
                        <option value="%">%</option>
                    </select>
                </div>

                <!-- Menu da Direita [Input de Valor "Pré-Definido" de "font-size"] -->
                <div class="properties-input-predefined-value-font-size">
                    <label class="properties-label-select"></label>
                    <select id="property-font-size-value-predefined" class="properties-input-select">
                        <option value="nenhum">Nenhum</option>
                        <option value="xx-small">xx-small</option>
                        <option value="x-small">x-small</option>
                        <option value="small">small</option>
                        <option value="medium">medium</option>
                        <option value="large">large</option>
                        <option value="x-large">x-large</option>
                        <option value="xx-large">xx-large</option>
                        <option value="smaller">smaller</option>
                        <option value="larger">larger</option>
                    </select>
                </div>
            </div>
        </div>
    </aside>
</div>

<!-- Menu do Rodapé -->
<footer class="textApp-footer-container" spellcheck="false">

    <!-- Rodapé [Editor de Texto]-->
    <div class="textApp-footer-text-container">
        <input type="text" class="textApp-footer-text-edit" value="Lorem Ipsum" placeholder="Insira um texto aqui">
    </div>

    <!-- Rodapé [Resultado do CSS]-->
    <div class="textApp-footer-css-result-container">
        <textarea class="textApp-footer-css-result">Olá! Sou o campo de resultado :)</textarea>
    </div>
</footer>

<!-- Meu Script -->
<script src="/scripts/textApp/textAppPropertyFontSize.js"></script>