<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/textApp/textApp-container.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-aside-menu-left.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-container-center.css">
<link rel="stylesheet" href="/stylesheets/textApp/allApp-prop-settings.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-footer-container.css">
<link rel="stylesheet" href="/stylesheets/allApp/allApp-properties-chackbox.css">
<link rel="stylesheet" href="/stylesheets/allApp/allApp-properties-input.css">
<div class="app__container">
    <!-- Menu da Esquerda/Topo [Container]-->
    <aside class="aside__propGroup__container">

        <!-- Menu de Grupo de propriedades [Primario] -->
        <div class="propGroup__select__container">
            <!-- Menu da Esquerda [Botões da esquerda] -->
            <button class="propGroup__button__text">
                <div class="propGroup__popup no-select">Texto</div>
            </button>
            <button class="propGroup__button__gradient">
                <div class="propGroup__popup no-select">Gradiente</div>
            </button>
            <button class="propGroup__button__border">
                <div class="propGroup__popup no-select">Borda</div>
            </button>
            <button class="propGroup__button__shadow">
                <div class="propGroup__popup no-select">Sombra</div>
            </button>
            <button class="propGroup__button__transform">
                <div class="propGroup__popup no-select">Transformação</div>
            </button>
            <button class="propGroup__button__column">
                <div class="propGroup__popup no-select">Coluna</div>
            </button>
        </div>

        <!-- Menu de seleção de propriedades [Secundario] -->
        <div class="prop__select__container">

            <!-- Menu de configurações -->
            <div class="settings__buttons">
                <button class="settings__buttons__info"></button>
                <button class="settings__buttons__reset"></button>
                <button class="settings__buttons__settings"></button>
                <button class="settings__buttons__example"></button>
            </div>

            <!-- Menu da Esquerda [Seleção de Propriedades] -->
            <div class="prop__checkbox__container">
                <div class="prop__checkbox__title no-select">
                    <p>Escolha as propriedades</p>
                </div>
                <label class="prop__checkbox__label no-select" for="properties-change-color"><input type="checkbox"
                        id="properties-change-color">Cor
                    <p class="prop__checkbox__syntax">color</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-font-size"><input type="checkbox"
                        id="properties-change-font-size">Tamanho
                    <p class="prop__checkbox__syntax">font-size</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-font-style"><input type="checkbox"
                        id="properties-change-font-style">Estilo
                    <p class="prop__checkbox__syntax">font-style</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-text-shadow"><input
                        type="checkbox" id="properties-change-text-shadow">Sombra
                    <p class="prop__checkbox__syntax">text-shadow</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-font-family"><input
                        type="checkbox" id="properties-change-font-family">Tipo de Fonte
                    <p class="prop__checkbox__syntax">font-family</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-font-variant"><input
                        type="checkbox" id="properties-change-font-variant">Variação da Fonte
                    <p class="prop__checkbox__syntax">font-variant</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-font-weight"><input
                        type="checkbox" id="properties-change-font-weight">Espessura
                    <p class="prop__checkbox__syntax">font-weight</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-font-stretch"><input
                        type="checkbox" id="properties-change-font-stretch">Expanção e Retração
                    <p class="prop__checkbox__syntax">font-stretch</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-letter-spacing"><input
                        type="checkbox" id="properties-change-letter-spacing">Espaço entre Letras
                    <p class="prop__checkbox__syntax">letter-spacing</p>
                    <div class="checkbox__icon"></div>
                </label>
                <label class="prop__checkbox__label no-select" for="properties-change-word-spacing"><input
                        type="checkbox" id="properties-change-word-spacing">Espaço entre Palavras
                    <p class="prop__checkbox__syntax">word-spacing</p>
                    <div class="checkbox__icon"></div>
                </label>
            </div>
        </div>
    </aside>

    <!-- Container Central [viewApp]-->
    <div class="viewApp__background__container">
        <div class="viewApp__container">
            <p id="textAppView" class="viewApp">Lorem Ipsum</p>
        </div>
    </div>

    <!-- #################################################################
         #################### P R O P R I E D A D E S #################### -->
    <!-- Menu da Direita -->
    <aside class="aside__prop__container" spellcheck="false">

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "color"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_color }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "font-size"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_font_size }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "font-style"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_font_style }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "text-shadow"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_text_shadow }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "font-family"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_font_family }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "font-variant"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_font_variant }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "font-weight"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_font_weight }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "font-stretch"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_font_stretch }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "letter-spacing"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_letter_spacing }}

        <!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
             /\/\/\/\/\/\/\/\/\/\/\/\/  "word-spacing"  /\/\/\/\/\/\/\/\/\/\/\/\/ -->

        {{> textApp/propSettings_word_spacing }}

    </aside>
</div>

<!-- Menu do Rodapé -->
<footer class="footer__container" spellcheck="false">

    <!-- Rodapé [Editor de Texto]-->
    <div class="footer__text__edit__container">
        <input type="text" id="footer-text-edit" class="footer__text__edit" value="Lorem Ipsum"
            placeholder="Insira um texto aqui">
    </div>

    <!-- Rodapé [Resultado do CSS]-->
    <div class="css__result__container">
        <textarea id="css-code-textarea" class="allApp__css__result" placeholder="Nenhuma propriedade foi adicionada"
            readonly></textarea>
    </div>
</footer>

<!-- Meu Script -->
<script src="/scripts/methodsForProperties.js"></script>
<script src="/scripts/APIs/jscolor.js"></script>
<script src="/scripts/textApp/textAppPropertyColor.js"></script>
<script src="/scripts/textApp/textAppPropertyFontSize.js"></script>
<script src="/scripts/textApp/textAppPropertyFontStyle.js"></script>
<script src="/scripts/textApp/textAppPropertyTextShadow.js"></script>
<script src="/scripts/textApp/textAppPropertyFontFamily.js"></script>
<script src="/scripts/textApp/textAppPropertyFontVariant.js"></script>
<script src="/scripts/textApp/textAppPropertyFontWeight.js"></script>
<script src="/scripts/textApp/textAppPropertyFontStretch.js"></script>
<script src="/scripts/textApp/textAppPropertyLetterSpacing.js"></script>
<script src="/scripts/textApp/textAppPropertyWordSpacing.js"></script>
<script src="/scripts/footer/textEdit.js"></script>