<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/textApp/textApp-container.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-aside-menu-left.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-container-center.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-aside-menu-right.css">
<link rel="stylesheet" href="/stylesheets/textApp/textApp-footer-menu.css">

<div class="textApp-container-large">
    <!-- Menu da Esquerda [Container]-->
    <aside class="textApp-aside-menu-left">

        <!-- Menu da Esquerda [Primario] -->
        <div class="textApp-aside-menu-left-container-primary">
            <!-- Menu da Esquerda [Botões da esquerda] -->
            <button class="textApp-aside-menu-left-aside-button-text">
                <div class="textApp-aside-menu-left-aside-popup-button-text">Text</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-gradient">
                <div class="textApp-aside-menu-left-aside-popup-button-gradient">Gradient</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-border">
                <div class="textApp-aside-menu-left-aside-popup-button-border">Border</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-shadow">
                <div class="textApp-aside-menu-left-aside-popup-button-shadow">Shadow</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-transform">
                <div class="textApp-aside-menu-left-aside-popup-button-transform">Transform</div>
            </button>
            <button class="textApp-aside-menu-left-aside-button-column">
                <div class="textApp-aside-menu-left-aside-popup-button-column">Column</div>
            </button>
        </div>

        <!-- Menu da Esquerda [Secundario] -->
        <div class="textApp-aside-menu-left-container-secundary">
            <!-- Menu da Esquerda [Botões de cima] -->
            <div class="textApp-aside-menu-left-top-button">
                <button class="textApp-aside-menu-left-top-button-info"></button>
                <button class="textApp-aside-menu-left-top-button-reset"></button>
                <button class="textApp-aside-menu-left-top-button-example"></button>
            </div>
        </div>
    </aside>

    <!-- Container Central -->
    <div class="textApp-container-center">
        Olá, eu sou o textApp! :)
    </div>

    <!-- Menu da Direita -->
    <aside class="textApp-aside-menu-right">
        Eu sou o Menu da DIREITA!
    </aside>
</div>

<!-- Menu do Rodapé -->
<footer class="textApp-footer-menu">
    Eu sou o menu do RODAPÉ!!.
</footer>

<!-- Meu Script -->
<script src="/scripts/textApp/textAppContainerMiddleAlign.js"></script>