/* ================= Open Sans ================= */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../../fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

/* ================= Times New Roman ================= */

@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/TimesNewRoman/times-new-roman.ttf');
}

/* ================= Lucida Sans ================= */

@font-face {
    font-family: 'Lucida Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/LucidaSans/LucidaSans-Regular.ttf');
}

/* ================= Arial ================= */

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Arial/Aria-Regular.ttf');
}

/* ================= Inria Serif ================= */

@font-face {
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/InriaSerif/InriaSerif-Regular.ttf');
}

@font-face {
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../fonts/InriaSerif/InriaSerif-Light.ttf');
}

/* ================= Georgia ================= */

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Georgia/Georgia.ttf');
}

/* ================= ComingoCode ================= */

@font-face {
    font-family: 'ComingoCode';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/ComingoCode/CamingoCode-Regular.ttf');
}

/* ================= Monospace ================= */

@font-face {
    font-family: 'Monospace';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Monospace/monospace.ttf');
}

/* ================= Spartan ================= */

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Spartan/Spartan-Regular.ttf');
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../../fonts/Spartan/Spartan-ExtraLight.ttf');
}

@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../../fonts/Spartan/Spartan-ExtraBold.ttf');
}

/* ================= PT Serif ================= */

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/PTSerif/PTSerif-Regular.ttf');
}

/* ================= Roboto Slab ================= */

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/RobotoSlab/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../../fonts/RobotoSlab/RobotoSlab-ExtraLight.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../../fonts/RobotoSlab/RobotoSlab-ExtraBold.ttf');
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\   Manuscritos  \/\/\/\/\/\/\/\/\/\/\/\/\/ */

/* ================= Caveat ================= */

@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/Caveat/Caveat-Regular.ttf');
}

/* ================= Indie Flower ================= */

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/IndieFlower/IndieFlower-Regular.ttf');
}

/* ================= Great Vibes ================= */

@font-face {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/GreatVibes/GreatVibes-Regular.ttf');
}