.index-container-center {
    background-color: rgb(73, 152, 158);
    color: black;
    height: 70vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================= Estabilizando Menu lateral ================= */

/* /\/\/\/\ Largura <=  1023 /\/\/\/\ */

@media (max-width: 1023px) {
    .index-container-center {
        color: yellow;
        width: calc(100% - 300px);
        display: inline-flex;
    }
}

/* /\/\/\/\ Largura <=  699 /\/\/\/\ */

@media (max-width: 699px) {
    .index-container-center {
        display: block;
        height: 150px;
        color: rgb(255, 166, 0);
        width: 100%;
    }
}

/* ================================================== */